*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: arial;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
     

}
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("logo.jpg");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/** Box 2 **/

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}    
/*Box 3*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 650px;
    height: 40px;
    border-radius: 4px;
    background-color: pink;
}
.nav-search:hover{
    border: 2px solid #febd68;
}
.search-select{
    background-color: #f3f3f3;
    text-align: center;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 5px;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/*Box4*/
.span{
    font-size: 0.7rem;

}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/**/
.nav-cart i{
    font-size: 35px;
    height: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/*pannel*/
.pannel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
   

}

.pannel-ops p{
    display: inline;
    margin-left: 15px;
}
.pannel-ops{
    width: 70%;
    font-size: 0.85rem;
    

}
.pannel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/**/
.hero-section{
    background-image: url("hero-image.jpg");
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-mesg{
    height: 40px;
    width: 80%;
    background-color: white;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.hero-section .hero-mesg p a{
    text-decoration: none;
    color: #007185;
}
/**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(255,255,0,0.12);
}
.box{
    
    height: 380px;
    width: 23%;
    background-color: white;
    padding: 20px 0 15px;
    margin-top: 15px;
}
.box-image{
    height: 300px;
    
    
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 10px;

}
.box-content p{
    color: #007185;
}
.foot-panel1 a{
    color: white;
    text-decoration: none;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.25px solid rgba(255,255,255,0.25);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("logo.jpg");
    background-size: cover;
    height: 50px;
    width: 100px;
    background-color: #222f3d;
}
.foot-panel4{
    background-color: #131a22;
    height: 80px;
    color: white;
    font-size: 0.8rem;
    text-align: center;
}
.pages{
    padding-top: 15px;
}
.pages a{
    margin-left: 15px;
}
.copyright{
    padding-top: 5px;
}