body {
    text-align: center;
  }
  
  .btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
  }
  
  .yellow {
    background-color: #f99b45;
  }
  
  .red {
    background-color: #d95980;
  }
  
  .purple {
    background-color: #819ff9;
  }
  
  .green {
    background-color: #63aac0;
  }
  
  .flash {
    background-color: white;
  }
  
  .userflash {
    background-color: green;
  }

  body{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn{
    width: 150px;
    height: 150px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1.5rem;
}

.red{
   background-color: #d95980; 
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}


/* Media query for smaller screens */
@media (max-width: 600px) {
    .btn {
        width: 100px; /* Adjusted width for smaller screens */
        height: 100px; /* Adjusted height for smaller screens */
        font-size: 14px; /* Adjusted font size for smaller screens */
        margin: 1rem; /* Adjusted margin for smaller screens */
    }
}