@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Baloo+Bhaina+2:regular,500,600,700,800);
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: purple;
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
   display: grid;
   grid-template-columns: repeat(3,10vw);
   grid-template-rows: repeat(3,10vw);
   font-family: 'Roboto', sans-serif;
   position: relative;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(217,180,252);
}
.info{
    font-size: 25px;
}
.gameInfo{
        margin-top: 34px;
    }

.gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.imgbox img{
    width: 0;
    transition: 1s ease-in-out;
}
.br-0{
    border-right: 0;;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 23px;
    padding: 1px 18px;
    background: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 15px;
    font-weight: bolder;
}

.line{
    background-color: black;
    width: 0;
    height: 3px;
    position: absolute;
    background-color: #911d91;
    transition: width is ease-in-out;
}
@media screen and (max-width: 950px){
    .gameContainer{
        flex-wrap: wrap;
    }
    
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3,20vw);

    }
}