body{
    margin: 0px;
    padding: 0px;
    background-color: #1F8DD6;
}
#box{
    height: 200px;
    width: 1000px;
    border: 4px white solid;
    border-radius: 5px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#main{
    height: 400px;
    width: 450px;
    background-color:white;
    border-radius: 5px;
    position: absolute;
    top:50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
#loginform,#signupform{
    position: absolute;
    top:50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
#signupform{
    top:45%;
    left: 75%;
    visibility: hidden;
}
#loginform h1,#signupform h1{
    font-family: arial;
    font-size: 25px;
    color:#1F8DD6;
}
#loginform input,#signupform input{
    height: 40px;
    width: 300px;
    border: 0px;
    outline:3;
    border-bottom: 1px solid black;
    margin: 5px;
}
#loginform button,#signupform button{
    height: 35px;
    width: 130px;
    background-color:#1F8DD6;
    font-family: monospace;
    font-size: 16px;
    color:white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 175px;
}

#loginform button:hover,#signupform button:hover {
  background-color: #EEEEEE;
  color: #2d2d2d;
  cursor: pointer;
  border: 1px black solid;
}

#login_btn,#signup_btn{
    height: 35px;
    width: 120px;
    background-color:transparent;
    color:white;
    border:1px solid white;
    border-radius: 5px;
    outline: none;
    position: absolute;
    left: 75%;
    top:65%;
    transform: translate(-50%,-50%);
    transition: all .5s;
}

#signup_btn{
    left: 25%;
}

#login_btn:hover,#signup_btn:hover{
    background-color: white;
    color: #2d2d2d;
    cursor: pointer;
}

#login_msg,#signup_msg{
    font-family: arial;
    font-size: 25px;
    color:white;
    position: absolute;
    top:35%;
    left: 75%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#signup_msg{
    left: 25%;
}

<!-- Example of a simple login button -->
<button type="submit" class="login-btn">Login</button>

<style>
    .login-btn {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .login-btn:hover {
        background-color: #45a049;
    }
</style>
