*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,body{
    height: 100%;
    width: 100%;
  }
  
  #main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(100,173,100);
  }
  
  #panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
  }
  
  #ptop{
    padding: 0px 30%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #fff;
    width: 100%;
    height: 100px;
    background-color: rgb(98,140,98);
  }
  
  .elem{
    display: flex;
    align-items: center;
    gap:20px
  }
  
  .elem h2{
    font-weight: 500;
    font-size: 22px;
  }
  
  .box{
    color: #19541e;
    font-weight: 600;
    font-style: 25px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  #pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
  
    padding: 20px;
    width: 100%;
    height: calc(100%-100px);
  }
  
  .bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgb(72,104,72);
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
  }
  
  .bubble:hover{
    cursor: pointer;
    background-color: rgb(19,43,19);
  }