@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
    --main-bg-color: #2874f0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
    position: fixed;
    top: 0;
    width: 100vw;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0 25px;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
    font-weight: bolder;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    height: 25px;
    width: 30vw;
    border-radius: 5px;
    margin: 0 15px 0px 40px;
    padding: 0 0 0 11px;
}

.search button {
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    border: 2px solid #1f62ce;
}

.slider {
    width: 74vw;
    margin: 12px auto;
}

.card {
    margin: 40px auto;
    width: 91vw;

}
.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}
.card h2 {
    font-family: 'Ubuntu', sans-serif;
}
.cards {
    display: flex;
    /* justify-content: center; */
    overflow-y: hidden; 
    overflow-x: auto; 
}
.container {
    min-height: calc(100vh - 58px - 12vh);
    padding-top: 60px ;
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}