.flex-all-center {
    text-align-last: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 7px 7px;
    border-radius: 5px;
    color: #ebeff4;
    background-color: var(--main-bg-color);
    cursor: pointer;
}
.my-1 {
    margin: 5px 0;
}
.my-2 {
    margin: 26px 0;
}
.text-center {
    text-align: center;
    font-family: inter_regular,fallback-inter_regular,Arial,sans-serif;
}
.off {
    color: green;
}
.price {
    color: #666;
}
.last-line {
    display: flex;
    align-content: center;
  justify-content: center;
}
.padding {
    padding-left: 8px;
}