body {
    background-color: #f0f0f0;
  }

  .container {
    margin-top: 50px;
  }

  .box-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  .logo {
    max-width: 100%;
    height: auto;
  }

  h1 {
    text-align: center;
    color: #343a40;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .btn-gh-green {
    background-color: #21b799;
    border-color: #21b799;
    color: #fff;
  }

  .btn-gh-green:hover {
    background-color: #159575;
    border-color: #159575;
  }